<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
<h1>Add New List</h1>
<form action="#" th:action="@{/}" th:object="${post}" method="POST">
    <input type="text" th:field="*{content}" />
    <button type="submit">save</button>
</form>

<h1>To Do List</h1>
    <ul th:each="post : ${postList}">
        <a th:href="@{'/update_post/' + ${post.id}}"><p th:text="${post.content}" /></a>
    </ul>

</body>
</html>